.pokecard-container{
  width: 100%;
  height: 175px;
  display: flex;
  flex-direction: column;
  margin: 40px 10px;
}

.pokecard-container
> span{
  width: 100%;
}

.pokecard-container
> .pokecard-image{
  height: auto;
  max-height: 50%;
  display: flex;
  justify-content: center;
}

.pokecard-container
> .pokecard-image
> img{
  max-width:100%;
  max-height:100%;
}

.pokecard-container
> span.pokecard-number{
  color: var(--gray);
}

.pokecard-container
> span.pokecard-name{
  color: var(--dark-grey);
  font-size: 1.5rem;
  font-weight: bold;
}

.pokecard-container
> .pokecard-type
> span{
  display: inline-block;
  padding: 5px 10px;
  background-color: var(--dragon);
  border-radius: 10px;
  margin: 5px 2.5px;
}